.circle {
    border: 2px #03012c solid;
    height: 70vh;
    width: 70vh;
    border-radius: 480px;
    position: absolute;
    background-color: #ff6347;
    left: -35vh;
    filter: drop-shadow(30px 10px 4px #4444dd);
}

.circle img {
    max-height: 100px;
    max-width: 100px;
    object-fit: cover;
    border-radius: 480px;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: calc(-100px / 2);
    border: 2px #03012c solid;
}
