.sidenav {
    background-color: tomato;
    border-left: 2px #03012c solid;
    width: 200px;
    height: 100%;
    font-size: 32px;
    font-weight: 600;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    word-break: break-all;
    word-wrap: normal;
    padding: 16px;
}

.sidenav a {
    color: #03012c;
    text-decoration: none;
}
