.main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
}

.work,
.play {
  width: 50%;
  height: 100%;
  background-color: #D4AFB9;
}

.divider {
  width: 2px;
  height: 100%;
  background-color: #03012C;
  z-index: 10;
}

.leftHalf,
.rightHalf {
  border-bottom: 2px #03012C solid;
  border-top: 2px #03012C solid;
  height: 50vh;
  width: 25vh;
  position: absolute;
  top: 50%;
  margin: 1rem auto;
}

.leftHalf {
  transform: translate(-100%, -50%);
  left: 50%;
  border-left: 2px #03012C solid;
  border-radius: 480px 0 0 480px;
}

.rightHalf {
  border-radius: 0 480px 480px 0;
  border-right: 2px #03012C solid;
  transform: translate(0%, -50%);
}

.play {
  background-color: tomato;

}

.rightOutter,
.leftOutter {
  border-bottom: 2px #03012C solid;
  border-top: 2px #03012C solid;
  height: 80vh;
  width: 40vh;
  position: absolute;
  top: 50%;
  margin: 1rem auto;
}

.leftOutter {
  transform: translate(-100%, -50%);
  left: 50%;
  border-left: 2px #03012C solid;
  border-radius: 480px 0 0 480px;
}

.rightOutter {
  border-radius: 0 480px 480px 0;
  border-right: 2px #03012C solid;
  transform: translate(0%, -50%);
}

.work h1,
.play h1 {
  position: absolute;
  font-size: 120px;
  font-style: Helvetica, sans-serif;
  color: #03012C;
}

.work h1 {
  left: 30px;
}

.play h1 {
  right: 30px;
  bottom: 0;
}
