.contact {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1440px;
    padding: 60px 0;
    height: 100vh;
    justify-content: center;
    gap: 24px;
    position: relative;
}

.orangeElement {
    height: 150px;
    width: 150px;
    background-color: var(--orange-accent-color);
    border-radius: 50%;
    -webkit-filter: blur(4px);
    -moz-filter: blur(4px);
    -o-filter: blur(4px);
    -ms-filter: blur(4px);
    filter: blur(4px);
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.title {
    z-index: 1;
    position: relative;
}

.titleDiv {
    width: fit-content;
    position: relative;
}

.content {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.paragraph {
    max-width: 600px;
    font-size: 18px;
    opacity: 70%;
}

.form {
    display: flex;
    flex-direction: column;
    width: 50%;
    gap: 24px;
}

.input {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid var(--fg-color);
    font-size: 24px;
    padding: 8px;
    width: 100%;
    resize: none;
}

.input:focus {
    outline: 2px solid var(--violet-accent-color);
    border-bottom: none;
}

.input:focus::placeholder {
    color: transparent;
    position: absolute;
    bottom: 8px;
    font-size: 24px;
}

.form button {
    align-self: flex-end;
}

.cloud1 {
    position: absolute;
    left: 0;
    bottom: 50px;
    height: 400px;
}

.form label {
    color: var(--violet-accent-color);
    font-size: 12px;
    font-family: var(--font-poppins);
}

.inputContainer {
    display: flex;
    flex-direction: column;
    gap: 8px;
}
