.notebook {
    height: 95vh;
    background-color: #81d8d0;
    border-top-right-radius: 16px;
    border-bottom-right-radius: 16px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 120px;
    filter: drop-shadow(10px 0px 4px rgba(0, 0, 0, 25%));
    transform: rotate(-5deg);
    background-image: url("../../../public/images/oko1.png");
    background-size: 150px;
    z-index: 10;
}

.belonging {
    height: 170px;
    padding: 16px;
    background-color: #ffffff;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

.linesContainer {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 0 32px;
}

.line {
    width: 100%;
    height: 1px;
    background-color: rgba(0, 0, 0, 50%);
}

.title {
    color: #ff0800;
    font-size: 92px;
    z-index: 2;
}
