.cardStack {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.wrap {
    position: absolute;
    height: 90vh;
    width: 700px;
    display: flex;
    align-items: center;
    justify-content: center;
}
